<MimeArgs>
m2h_text_html::filter; allownoncidurls
m2h_text_plain::filter; maxwidth=80
</MimeArgs>

<Excs>
delivered-to
authentication-
Dkim-
x-
references
in-reply-to
user-agent
fcc
Domainkey-signature
</Excs>

<FIELDSBEG>
</FIELDSBEG>

<FIELDSEND>
</FIELDSEND>
